<h2>Menu</h2>
<section class="menu">
  <div
    *ngFor="let drink of drinks"
    class="drinks"
    (click)="onSelect(drink)"
    [class.selected]="drink === selectedDrink"
  >
    <div class="id">{{ drink.id }}</div>
    <div class="name">{{ drink.name }}</div>
    <div class="price">${{ drink.price }}</div>
  </div>
</section>
<section *ngIf="selectedDrink">
  <h3>{{ selectedDrink.name | uppercase }} Details</h3>
  <div>id: {{ selectedDrink.id }}</div>
  <div>
    <label for="name"></label>
    <input
      id="name"
      [(ngModel)]="selectedDrink.name"
      placeholder="selectedDrink.name"
    />
  </div>
  <div>
    <label for="price">$: </label>
    <input
      id="price"
      [(ngModel)]="selectedDrink.price"
      placeholder="selectedDrink.price"
    />
  </div>
</section>
