:host {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding-bottom: 24px;
}

input {
  padding: 0.5rem;
}

.menu-title {
  background-image: url("https://popmenucloud.com/cdn-cgi/image/width=5760,height=5760,fit=scale-down,format=auto,quality=60/eqruvkhi/3c3f39fc-4540-4f69-b131-11cca53ab36c");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 8px;
  text-align: center;
  margin: 16px 8px 8px 8px;
  padding-top: 100px;
  color: white;
  font: 60px Comic Sans MS, Comic Sans, cursive;
}
.menu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  height: 320px;
}
.drinks {
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 4px;
  margin: 12px;
  background-color: #eee;
  width: 300px;
  height: fit-content;
  justify-content: space-between;
  cursor: pointer;
}
.drinks:hover {
  margin-left: 8px;
  margin-right: -8px;
}
.drinks .id {
  background-color: #405061;
  border-radius: 4px 0px 0px 4px;
  color: white;
  width: 28px;
  padding: 8px 4px 8px 4px;
  text-align: center;
  font-weight: bold;
}
.menu .selected.drinks {
  background-color: #5c7396;

  .name {
    color: white;
  }
}
.drinks .name {
  padding: 8px 4px 8px 12px;
  width: 200px;
}
.drinks .price {
  background-color: #ffd80a;
  border-radius: 10% 50%/50%;
  width: 24px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  align-self: flex-end;
  font-style: italic;
  font-size: 80%;
}
