.drinkOrder-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  height: 240px;
  justify-content: space-between;

  .totalPrice {
    font-size: 150%;
    font-weight: bold;
    margin: 16px 0 12px 0;
  }
}
