<section *ngIf="drink" class="drinkOrder-container">
  <h3>{{ drink.name | uppercase }}</h3>
  <div>id: {{ drink.id }}</div>
  <div>Calories: {{ drink.calorie }}</div>
  <div>Price: {{ drink.price }}</div>
  <div>Ingredients: {{ drink.ingredients }}</div>

  <div>
    <label for="tips">Tips</label>
    <input
      id="tips"
      [(ngModel)]="tips"
      type="number"
      placeholder="1"
      (change)="updateTotalPrice()"
    />$
  </div>
  <div class="totalPrice">Total price: {{ totalPrice }}</div>
</section>
<app-toppings
  (toppingsAdd)="toppingsQuantity = $event; updateTotalPrice()"
></app-toppings>
