.topping-container {
  display: flex;
  flex-direction: column;

  .topping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #eee;
    margin: 12px;
    padding: 8px 0 8px 4px;

    &:hover {
      background-color: #cdd4df;
    }

    .name {
      width: 240px;
    }

    .calorie {
      font-style: italic;
      font-size: 80%;
      margin-right: 16px;
    }
    .price {
      background-color: #ffd80a;
      border-radius: 10% 50%/50%;
      width: 20px;
      text-align: center;
      padding: 4px 4px 4px 4px;
      margin-bottom: -8px;
      align-self: flex-end;
      font-style: italic;
      font-size: 70%;
    }
  }
  .submit {
    width: fit-content;
  }
}
