:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  height: 80px;
  object-fit: contain;
}
nav {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    margin: 8px;
    padding: 4px;
    background-color: #72839a;
    border-radius: 4px;
    width: 160px;
    height: fit-content;
    font-size: 20px;
    color: white;
    font-weight: light;
    text-align: center;

    &:hover {
      background-color: #637493;
      color: white;
      margin-top: 4px;
    }
  }
}

.content-container {
  display: flex;
  flex: auto;
}
