:host {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding-bottom: 24px;
}

input {
  padding: 0.5rem;
}

.reviews {
  background-image: url("https://popmenucloud.com/cdn-cgi/image/width=1080,height=1080,fit=scale-down,format=auto,quality=60/eqruvkhi/eb9ae2fe-1b49-4b53-9114-c3b4df1d7d7e");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 8px;
  text-align: justify;
  margin: 16px 8px 8px 8px;
  padding-top: 100px;
  color: white;
  padding: 32px 12px 8px 12px;

  .review-title {
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 60px;
  }

  .review-container {
    font: 16px Snell Roundhand, cursive;
    padding: 20px 4px 8px 4px;

    .review {
      padding: 4px;
    }
  }

  .input-area {
    display: flex;
    flex-direction: column;
    color: black;
    font-style: italic;

    .submit {
      margin: 4px;
      width: fit-content;
    }
  }
}
